.footer{
    padding: 0.8rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    .left{
        .copyright{
            color: #7367f0;
        }
        @media (max-width: 576px) {
            .reserved{
                display: none;
            }
        }
    }
    .right{
        display: flex;
        align-items: center;
        svg{
            color: #ea5455!important;
            margin-left: .5rem;
            font-size: 22px;
        }

        @media (max-width : 768px) {
            display: none;
        }
    }

    &.dark-theme{
        color: #b4b7bd;
    }
    &.light-theme{
        color: #6e6b7b;
    }
}